/*Swiper*/
.swiper {
  .swiper-slide {
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0 0 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    .div-content-image {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 300px;
    }
    p {
      font-size: 0.8rem;
    }
    h2,
    p,
    .button-read-more {
      background: black;
      padding: 8px 20px;
      color: white;
    }
    h2,
    p {
      width: fit-content;
      position: relative;
    }
    .button-read-more {
      width: 200px;
      font-size: 0.8rem;
    }
    h2:before,
    p:before {
      content: "";
      display: block;
      width: 4px;
      height: 55%;
      left: 10px;
      top: 9px;
      background: red;
      position: absolute;
    }
  }
}

.cover {
    padding: 0px 30px;
    position: relative;
    .right {
        position: absolute;
        transform: rotate(-45deg);
        border: solid black;
        border-width: 3px 0 0 3px;
        display: inline-block;
        padding: 3px;
        left: 0;
        top: 50%;
      }
      .left {
        position: absolute;
        transform: rotate(135deg);
        border: solid black;
        border-width: 3px 0 0 3px;
        display: inline-block;
        padding: 3px;
        right: 0;
        top: 50%;
        cursor: pointer;
      }
      .cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        list-style: none;
        .card {
          .player-card {
            width: 300px;
            height: 430px;
            margin: 10px;
            background-color: rgba(255, 255, 255, 0.639);
            border-radius: 0.5rem;
            box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
            display: flex;
            gap: 20px;
            flex-direction: column;
      
            .player-card-information {
              display: flex;
              gap: 15px;
              height: 100%;
              flex-direction: column;
              padding: 0 20px;
              text-align: justify;
              justify-content: center;
              p {
                font-size: 0.8rem;
              }
            }
            img {
              width: 100%;
              border-radius: 0.5rem;
              height: auto;
            }
            button {
              width: 50%;
              color: white;
              background-color: #265290;
              border-radius: 6px;
              padding: 4px 0;
            }
          }
        }
      }
      .cards::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #aaa;
      }
      .cards::-webkit-scrollbar-thumb {
        display: none;
      }
      .cards::-webkit-scrollbar {
        -webkit-appearance: none;
      }
}
  
  
  
