.image-player-court {
  width: 60px;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
}

#article-competition
  .article-competition-header
  .div-introduction-competition-info {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    justify-content: center;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
    max-width: 85%;
    text-align: center;
  }
  a {
    font-size: 1rem;
  }
  .div-p-flag {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
  }
}
.handball-court {
  //background-image: url("../img/handball_court.png");
  // height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  // width: 60vw;
  // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
  //rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
  //rgba(0, 0, 0, 0.09) 0px 32px 16px;

  .image-player-court-contain {
    width: 570px;
    position: relative;

    .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      position: relative;
    }
    .row.line-one {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;

      .player {
        z-index: 10;
        width: 100px;
        height: 100px;
        position: absolute;
      }

      .player.extreme-left {
        top: 10;
        left: 20;
      }

      .player.goalkeeper {
        top: 10;
      }

      .player.extreme-right {
        top: 10;
        right: 20;
      }
    }

    .row.line-two {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;

      .player {
        width: 100px;
        height: 100px;
        position: absolute;
      }

      .pivot {
        top: 150;
        z-index: 10;
      }
    }

    .row.line-three {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;
      .player {
        width: 100px;
        height: 100px;
        position: absolute;
      }

      .player.left-court {
        left: 20;
        z-index: 10;
      }

      .player.right-backcourt {
        right: 20;
        z-index: 10;
      }
    }

    .row.line-four {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;

      .pivot2 {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 135px;
      }
    }

    img {
      width: 100%;
    }
  }
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 6vw;
    border-radius: 50%;
    //box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 3px solid white;
  }
}
.player.goalkeeper,
.player.extreme-left,
.player.extreme-right {
  flex: 33%;
}
.player.pivot {
  flex: 100%;
}
.player.left-court,
.player.right-backcourt {
  flex: 50%;
}
#details-competition {
  footer {
    margin-top: 20px;
  }
}
