
  .article-player-flag-country {
    width: 40px;
    height: auto;
  }
  #article-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    h2 {
      text-transform: uppercase;
      font-weight: 500;
    }
    section {
      width: 80%;
      padding: 0;
    }
  
    .article-player-header {
      width: 80%;
      height: auto;
      display: flex;
      gap: 20px;
      .div-player-image {
        width: 100%;
        height: 100%;
  
        .image-player {
          width: 100%;
          height: 100%;
          border-radius: 50px 0px 50px 0px;
          overflow: hidden;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
          .article-player-photo {
            width: 100%;
            height: 100%;
          }
        }
      }
  
      .div-introduction-player-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
  
        .article-player-name {
          text-transform: uppercase;
          font-size: 3.5rem;
          margin-bottom: 10px;
        }
        .p-with-flag {
          display: flex;
          align-items: center;
          gap: 20px;
          .article-player-biography-introduction {
            font-size: 1.5rem;
          }
  
          div {
            width: 30px;
            height: 30px;
          }
        }
        .social-media-player {
          i {
            font-size: 3rem;
          }
        }
      }
    }
    .section-biography {
      width: 80%;
      p {
        font-size: 1rem;
        line-height: 1.6;
        text-align: justify;
      }
    }
    .section-relatedPlayers {
      width: 80%;
    }
  }
  
  .related-player-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  
    li {
      width: 250px;
      height: 300px;
      position: relative;
      text-decoration: none;
      border-radius: 10px 0 10px 0;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      div {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background-color: #00000078;
        width: 100%;
        padding: 3px 5px;
  
        span {
          color: white;
          font-size: 20px;
          text-transform: uppercase;
        }
        .player-related-name {
          font-weight: 500;
          margin-bottom: -3px;
        }
        .player-related-position {
          font-weight: 300;
        }
      }
    }
  }