@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&display=swap");

//variables


//Genereal styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;

  .container-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    nav {
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        li::before {
          content: "|";
          padding-left: 10px;
          padding-right: 10px;
        }
        li {
          a {
            text-decoration: none;
            color: $color-text-principal;
          }
        }
      }
    }
    .search-input {
      position: relative;
      input {
        padding: 8px 8px 8px 25px;
        border-radius: 5px;
        border-width: 1px;
        border-color: lightgray;
      }
      input:hover {
        box-shadow: 0 7px 14px $contrast-color, 0 3px 6px transparent;
        cursor: pointer;
      }
      img {
        width: 20px;
        position: absolute;
        top: 8px;
        left: 4px;
      }
    }
  }
}

.header-logo {
  width: 150px;
  height: auto;
  line-height: 0px;
}

.image-player-court {
  width: 60px;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
}
.player-one {
  position: absolute;
  top: 0;
  left: 0;
}

/*Swiper*/
.swiper {
  .swiper-slide {
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0 0 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    .div-content-image {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 300px;
    }
    p {
      font-size: 0.8rem;
    }
    h2,
    p,
    .button-read-more {
      background: black;
      padding: 8px 20px;
      color: white;
    }
    h2,
    p {
      width: fit-content;
      position: relative;
    }
    .button-read-more {
      width: 200px;
      font-size: 0.8rem;
    }
    h2:before,
    p:before {
      content: "";
      display: block;
      width: 4px;
      height: 55%;
      left: 10px;
      top: 9px;
      background: red;
      position: absolute;
    }
  }
}

.container {
  padding: 20px;
}

.player-card {
  width: 300px;
  height: 430px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.639);
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  display: flex;
  gap: 20px;
  flex-direction: column;

  .player-card-information {
    display: flex;
    gap: 15px;
    height: 100%;
    flex-direction: column;
    padding: 0 20px;
    text-align: justify;
    justify-content: center;
    p {
      font-size: 0.8rem;
    }
  }
  img {
    width: 100%;
    border-radius: 0.5rem;
    height: auto;
  }
  button {
    width: 50%;
    color: white;
    background-color: #265290;
    border-radius: 6px;
    padding: 4px 0;
  }
}
.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  list-style: none;
}
.cover {
  padding: 0px 30px;
  position: relative;
}
.cards::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.cards::-webkit-scrollbar-thumb {
  display: none;
}
.cards::-webkit-scrollbar {
  -webkit-appearance: none;
}

.right {
  position: absolute;
  transform: rotate(-45deg);
  border: solid black;
  border-width: 3px 0 0 3px;
  display: inline-block;
  padding: 3px;
  left: 0;
  top: 50%;
  //transform: translateY(-50%);
}
.left {
  position: absolute;
  transform: rotate(135deg);
  border: solid black;
  border-width: 3px 0 0 3px;
  display: inline-block;
  padding: 3px;
  right: 0;
  top: 50%;
  cursor: pointer;
  //transform: translateY(-50%);
}

/*Jugadoras*/

.article-competition-flag-country {
  width: 20px;
  height: auto;
}
.article-player-flag-country {
  width: 40px;
  height: auto;
}
.links-information {
  flex-direction: column;
}

/*Portada*/

.welcome-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: rgb(78, 195, 255);

  .welcome-contents {
    background-color: white;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .welcome-information {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 52px;
      flex-direction: column;
    }
    p {
      text-align: center;
    }
    h1 {
      text-shadow: 2px 1px #000;
      color: #265290;
      font-size: 6rem;
    }

    .link-index-page {
      display: flex;
      justify-content: center;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 20px;

      li {
        a {
          font-size: 24px;
          text-decoration: none;
        }
      }
    }
  }
  img {
    width: 350px;
    height: auto;
  }
}

/*detalles.html*/

#article-competition
  .article-competition-header
  .div-introduction-competition-info {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    justify-content: center;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
    max-width:85%;
    text-align:center;
  }
  a{
    font-size: 1rem;;
  }
  .div-p-flag {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
  }
}
.handball-court {
  //background-image: url("../img/handball_court.png");
  // height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  // width: 60vw;
  // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
  //rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
  //rgba(0, 0, 0, 0.09) 0px 32px 16px;

  .image-player-court-contain {
    width: 570px;
    position: relative;

    .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      position: relative;
    }
    .row.line-one {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;

      .player {
        z-index: 10;
        width: 100px;
        height: 100px;
        position: absolute;
      }

      .player.extreme-left {
        top: 10;
        left: 20;
      }

      .player.goalkeeper {
        top: 10;
      }

      .player.extreme-right {
        top: 10;
        right: 20;
      }
    }

    .row.line-two {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;

      .player {
        width: 100px;
        height: 100px;
        position: absolute;
      }

      .pivot {
        top: 150;
        z-index: 10;
      }
    }

    .row.line-three {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;
      .player {
        width: 100px;
        height: 100px;
        position: absolute;
      }

      .player.left-court {
        left: 20;
        z-index: 10;
      }

      .player.right-backcourt {
        right: 20;
        z-index: 10;
      }
    }

    .row.line-four {
      width: 100%;
      position: absolute;
      justify-content: center;
      height: 100%;

      .pivot2 {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 135px;
      }
    }

    img {
      width: 100%;
    }
  }
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 6vw;
    border-radius: 50%;
    //box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 3px solid white;
  }
}
.player.goalkeeper,
.player.extreme-left,
.player.extreme-right {
  flex: 33%;
}
.player.pivot {
  flex: 100%;
}
.player.left-court,
.player.right-backcourt {
  flex: 50%;
}

/*detallesJugadora*/
#article-player {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  h2 {
    text-transform: uppercase;
    font-weight: 900;
  }
  section {
    width: 80%;
    padding: 0;
  }

  .article-player-header {
    width: 80%;
    height: 500px;
    display: flex;
    gap: 20px;
    .div-player-image {
      width: 100%;
      height: 100%;

      .image-player {
        width: 100%;
        height: 100%;
        border-radius: 50px 0px 50px 0px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .article-player-photo {
          width: 100%;
          height: 100%;
        }
      }
    }

    .div-introduction-player-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      gap: 10px;

      .article-player-name {
        text-transform: uppercase;
        font-size: 3.5rem;
        margin-bottom: 10px;
      }
      .p-with-flag {
        display: flex;
        align-items: center;
        gap: 20px;
        .article-player-biography-introduction {
          font-size: 1.5rem;
        }

        div {
          width: 30px;
          height: 30px;
        }
      }
      .social-media-player {
        i {
          font-size: 3rem;
        }
      }
    }
  }
  .section-biography {
    width: 80%;
    p {
      font-size: 1rem;
      line-height: 1.6;
      text-align: justify;
    }
  }
  .section-relatedPlayers {
    width: 80%;
  }
}

.related-player-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  li {
    width: 250px;
    height: 300px;
    position: relative;
    text-decoration: none;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      background-color: #00000078;
      width: 100%;
      padding: 3px 5px;

      span {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
      }
      .player-related-name {
        font-weight: 500;
        margin-bottom: -3px;
      }
      .player-related-position {
        font-weight: 300;
      }
    }
  }
}

.menu-button-mobile {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;

  i {
    font-size: 25px;
  }
}
/*Grandes pantallas*/
@media (min-width: 1411px) {
  #article-player .article-player-header {
    //width: 1344px;
    height: 600px;
  }

  .div-introduction-player-info {
    align-items: center;
  }
}

/**/
@media (max-width: 410px) {

  #article-competition{
    .handball-court .image-player-court-contain .row.line-two .pivot {
      left: 140px;
    }
    .handball-court .image-player-court-contain .row.line-four .pivot2 {
    left: 140px;
    }
    .handball-court .image-player-court-contain .row.line-one .player.goalkeeper {
    left: 140px;
  }
}
}




/*mobile*/
@media (max-width: 600px) {
  #links {
    .links-resources ul li{
      a {
        font-size: 0.8rem;
      }
      span {
        font-size: 0.7rem;
      }
    }
  }






  .welcome-container .welcome-contents h1 {
    font-size: 4rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  #article-competition
    .article-competition-header
    .div-introduction-competition-info {
    .div-p-flag {
      padding: 0 10px;
      gap: 2px;
      align-items: flex-start;
    }

    p {
      font-size: 0.8rem;
    }
  }

  #article-player .article-player-header {
    flex-wrap: wrap;
    height: auto;
  }

  #article-player .article-player-header .div-player-image .image-player {
    width: 100%;
    height: 400px;
  }

  #article-player
    .article-player-header
    .div-introduction-player-info
    .article-player-name {
    font-size: 2.5rem;
  }

  #article-player
    .article-player-header
    .div-introduction-player-info
    .p-with-flag
    .article-player-biography-introduction {
    font-size: 0.9rem;
  }

  #article-player
    .article-player-header
    .div-introduction-player-info
    .social-media-player
    i {
    font-size: 2rem;
  }

  .search-input {
    display: none;
  }

  .swiper {
    height: 400px;

    .swiper-slide {
      height: 100%;
    }

    .swiper-slide .div-content-image {
      margin-top: 0px;
      gap: 5px;
      position: absolute;
      bottom: 10;
      left: 20;

      button {
        width: 150px;
        font-size: 0.7rem;
      }

      h2 {
        font-size: 0.9rem;
      }
    }





    
  }

  .container {
    margin-top: 20px;
    padding: 0 10px;
    .cover {
      padding: 0px;

      .left,
      .right {
        display: none;
      }

      .cards {
        overflow: scroll;
      }

      .cards::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .player-card {
    width: 250px;
    height: 300px;
    justify-content: center;

    .player-card-information {
      gap: 10px;
      h2 {
        font-size: 1rem;
      }
    }

    img {
      border-radius: 10px;
      object-fit: fill;
      width: 200px;
      height: 150px;
    }

    p {
      height: 40px;
    }
  }

  .handball-court .image-player-court-contain {
    width: 474px;
    padding: 20px;

    .row.line-three .player.right-backcourt {
      top: 140px;
      width: 60px;
      height: 60px;
      right:54px;
    }

    .row.line-three .player.left-court {
      top: 140px;
      width: 60px;
      height: 60px;
      left:8px;
    }

    .row.line-four .pivot2 {
      top: 190x;
      width: 60px;
      height: 60px;
      left:187px;
    }
  }

  .handball-court .image-player-court-contain .row.line-two .pivot {
    top: 95px;
    width: 60px;
    height: 60px;
    left:187px;
  }

  .handball-court .image-player-court-contain .row.line-one {
    .player.extreme-left {
      top: 10px;
      width: 60px;
      height: 60px;
      left:8px;
    }

    .player.goalkeeper {
      top: 10px;
      width: 60px;
      height: 60px;
      left:187px;
    }

    .player.extreme-right {
      top: 10px;
      width: 60px;
      height: 60px;
      right: 54px;
    }
  }
}

/**/
.main-header {
  display: flex;
  height:100px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.nav-links {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item {
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

.new-icons-functions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-menu-mobile i {
  font-size: 1.6rem;
}
.search-input {
  display: none;
}

@media screen and (max-width: 700px){
  #body-presentacion {
    .cards-page {
      .card-page {
      flex-direction: column;
      align-items: center;
      p{
        font-size: 0.7rem;
      }
      }
      
  }


}


}
  

@media screen and (min-width: 768px) {
  .button-menu,
  .search-menu-mobile {
    display: none;
  }
  .search-input {
    display: inline;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    height: 100%;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
  
}
.search-input {
  position: relative;
  input {
    padding: 8px 8px 8px 25px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
  }
  input:hover {
    box-shadow: 0 7px 14px $contrast-color, 0 3px 6px transparent;
    cursor: pointer;
  }
  img {
    width: 20px;
    position: absolute;
    top: 8px;
    left: 4px;
  }
}
/*Bibliography*/
#links {
  .links-resources {
    text-align: center;
    line-height: 2.5rem;
    h1,
    h2 {
      text-align: center;
    }
    h2 {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    a {
      font-size: 1.4rem;
    }
    span {
      padding-left: 20px;
      font-size: 1.2rem;
    }
  }
}
body {
  height: 100vh;
}

#details-competition{
  footer {
    margin-top: 20px;
  }
}
footer {
  width: 100%;
  height: 5.5rem;
  background-color: #265290;
  margin-top: 20px;
  padding: 20px;
  a,
  p {
    color: white;
    border: none;
    font-size: 0.7rem;
    text-decoration:none;
  }
  a:hover {
    border: none;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding-right: 5px;
      color: white;
    }
    li::after {
      content: "·";
      padding-left: 10px;
    }
    li:last-child::after {
      content: "";
    }
  }
}
.fa-instagram,
.fa-facebook {
  color: #265290;
}
section {
  margin: 20px 0;
  h2 {
    margin-bottom: 20px;
  }
}

/*Presentacion*/

#body-presentacion {
  width: 100vw;
  height: 100vh;
  
  h1{
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
  }
  h2{
    text-transform: uppercase;
  }

  .cards-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
      font-size: 1.3rem;
      text-align: justify;
    }

    .card-page {
      display: flex;
      gap: 20px;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      border-radius: 15px;
      .image-page {
        width: 65%;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .info-card-page {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

#links{
  .links-resources{
    margin-top:20px;
  }
}