//variables
$max-width:100px;
$color-text-principal: black;
$contrast-color: #000077;

//Genereal styles
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    .container{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap:20px;
        nav {
            ul{
                list-style: none;
                display:flex;
                flex-direction: row;
                gap:10px;
                li::before{
                    content: "|";
                    padding-left: 10px;
                    padding-right: 10px;
                }
                li{
                    a{
                        text-decoration: none;
                        color: $color-text-principal;
                    }
                }
                
                }
                
            }
        input{
            
        }
        .search-input{
            position:relative;
            input{
                padding:8px 8px 8px 25px;
                border-radius: 5px;
                border-width: 1px;
                border-color: lightgray;
            }
            input:hover {
                box-shadow: 0 7px 14px $contrast-color, 0 3px 6px transparent;
                cursor: pointer;
            }
            img{
                width: 20px;
                position:absolute;
                top:8px;
                left:4px;
            }
            
        }
        }
    }
    

.header-logo {
    width: 150px;
    height: auto;
    line-height: 0px;
}

ul{
    display:flex;
}
.image-player-court{
    width: 60px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}
.player-one{
    position:absolute;
    top:0;
    left:0;
}
.handball-court{
    position:relative;
    border: 1px solid black;
    background-image: url("../img/pista_handball.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.article-competition-flag-country{
    width:20px;
    height:auto;
}


/*Swiper*/
.swiper {
    .swiper-slide{
        background: black;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        color: white;
        padding: 0 0 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:500px;
        .div-content-image{
            width:80%;
            display: flex;
            flex-direction: column;
            gap:20px;
            margin-top: 300px;
        }
        h2,p, .button-read-more{
            background:black;
            padding:8px 20px;
            color:white;
        }
        h2,p{
            width: fit-content;
            position: relative;
        }
        .button-read-more{
            width: 200px;            
        }
        h2:before,p:before{
            content: "";
            display: block;
            width: 4px;
            height:55%;
            left:10px;
            top:9px;
            background: red;
            position: absolute;
        }
    }
    
}
  .player-card{
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.639);
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    display:flex;
    gap:20px;
    flex-direction: column;
    padding-bottom: 20px;
    .player-card-information{
        display:flex;
        gap:20px;
        flex-direction: column;
        padding: 0 20px;
        text-align: justify

    }
    img{
        width:100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        height: auto;
        
        
    }
    button{
        width: 50%;
        color: white;
        background-color: #000077;
        border-radius: 6px;
        padding: 4px 0;
        
    }
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    list-style: none;
  
}
.cover{ 
    padding: 0px 30px;
    position: relative;
}
.cards::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  
  .cards::-webkit-scrollbar-thumb {
    display: none;
    
  }
  .cards::-webkit-scrollbar {
    -webkit-appearance: none;
 }

  .right {
    position: absolute;
    transform: rotate(-45deg);
    border: solid black;
    border-width: 3px 0 0 3px;
    display: inline-block;
    padding: 3px;
    left: 0;
    top: 50%;
    //transform: translateY(-50%);
  }
  .left {
    position: absolute;
    transform: rotate(135deg);
    border: solid black;
    border-width: 3px 0 0 3px;
    display: inline-block;
    padding: 3px;
    right: 0;
    top: 50%;
    cursor: pointer;
    //transform: translateY(-50%);
  }

/*.cards{
  display: flex;
  padding: 8px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.cards::-webkit-scrollbar {
    height: 12px;
  }
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
    
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: black;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
  
  .cards::-webkit-scrollbar-track {
    //background: red;
  }
  .list-of-cards{}
*/
body{
    .container{
        margin: 0 auto;
        max-width: 80%;
    }
}


/*Jugadoras*/
.article-player-flag-country{
    width:40px;
    height: auto;
}
.links-information{
    flex-direction:column;
}
/*Competition players*/
.player-element-court:first-child {
    position: absolute;
    left:47%;
    top: 22%;
}
.player-element-court:nth-child(2) {
    position: absolute;
    left:47%;
    top: 45%;
}
.player-element-court:nth-child(3) {
    position: absolute;
    left:17%;
    top: 45%;
}
.player-element-court:nth-child(4) {
    position: absolute;
    right:17%;
    top: 45%;
}
.player-element-court:nth-child(5) {
    position: absolute;
    left:32%;
    top: 60%;
}
.player-element-court:nth-child(6) {
    position: absolute;
    right:32%;
    top: 60%;
}
.player-element-court:nth-child(7) {
    position: absolute;
    left:47%;
    top: 70%;
}




/*Postada*/

.welcome-container{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 700px;
    border: 3px solid green;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:40px;
    padding-top: 40px;

    img{
        width:350px;
        height:auto;
    }
}
 /*detalles.html*/
 
